@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* universal selector */
*{
    font-family: 'Roboto', sans-serif;    
}

/*body with background color */
body{
    background-color:hsl(310, 27%, 96%);
}


/* using flex concept cards are aligned */
.container{
    width:100%;
    height:800px;
    display:flex;
    justify-content:center;
}

h1{
    text-align: center;
}

/* unordered list items with equal line height */
ul{
    padding-left: 0px;
    line-height: 2.0;
    margin-top: 70px;
}

/*  implemented three cards with equal width and height */
.item{
    width:300px;
    height:500px;
    margin:45px 20px;
    box-sizing: border-box;
    line-height: 0.5;
    padding:30px 55px;
    background-color:white;
    
}

/* second card properties */
.two{
    background-color:#0d022a;
    color:white;
}

/* implementation of first card subscribe button */
.button1{

    width: 200px;
    margin-top: 105px;
    border-radius: 20px;
    padding:8px;
    color:white;
    background-color:#0d022a ;
}

/* implementation of button in second card*/
.button2{
    width:200px;
    margin-top: 40px;
    padding:8px;
    color:#0d022a;
    border-radius:20px;
    background-color: white;
}

/* implementation os button in third card */
.button3{
    width:200px;
    margin-top:40px ;
    padding:8px;
    border-radius: 20px;
    color:white;
    background-color: #0d022a;
}
